USE [master]
GO
/****** Object:  Database [Libros]    Script Date: 29/01/2024 05:42:50 p. m. ******/
CREATE DATABASE [Libros]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Libros', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Libros.mdf' , SIZE = 4160KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Libros_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Libros_log.ldf' , SIZE = 1040KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Libros].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Libros]
GO
/****** Object:  StoredProcedure [dbo].[AddLibro]    Script Date: 29/01/2024 05:42:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[AddLibro] 
@Titulo VARCHAR(80),
@AñoPublicacion VARCHAR(6),
@Autor int,
@Editorial int
AS
INSERT INTO Libros VALUES (@Titulo,@AñoPublicacion,@Autor,@Editorial)
GO
/****** Object:  StoredProcedure [dbo].[DeleteLibroAutor]    Script Date: 29/01/2024 05:42:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteLibroAutor]
@IdAutor INT
AS
DELETE FROM Libros WHERE Autor = @IdAutor
GO
/****** Object:  StoredProcedure [dbo].[DeleteLibroEditorial]    Script Date: 29/01/2024 05:42:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteLibroEditorial]
@IdEditorial INT
AS
DELETE FROM Libros WHERE Editorial = @IdEditorial
GO
/****** Object:  Table [dbo].[Autor]    Script Date: 29/01/2024 05:42:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Autor](
	[IdAutor] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[ApellidoPaterno] [varchar](50) NOT NULL,
	[ApellidoMaterno] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdAutor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Editorial]    Script Date: 29/01/2024 05:42:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Editorial](
	[IdEditorial] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEditorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Libros]    Script Date: 29/01/2024 05:42:50 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Libros](
	[IdLibro] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](80) NOT NULL,
	[AñoPublicacion] [varchar](6) NULL,
	[Autor] [int] NULL,
	[Editorial] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdLibro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD FOREIGN KEY([Autor])
REFERENCES [dbo].[Autor] ([IdAutor])
GO
ALTER TABLE [dbo].[Libros]  WITH CHECK ADD FOREIGN KEY([Editorial])
REFERENCES [dbo].[Editorial] ([IdEditorial])
GO
USE [master]
GO
